#video {
  display: none;
}

#canvas {
  width: 600px;
  height: 400px;
}

.comment-name {
  font-weight: bold;
}

ul {
  list-style-type: none;
}

.join {
  text-align: center;
}

.join .btn {
  margin-top: 20%;
}

.actions {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video {
  text-align: center;
  margin-bottom: 20px;
}
